h1, h2 {font-family: 'Ubuntu Mono', monospace;}

p {font-family: 'Ubuntu Mono', monospace;}

input {font-family: 'Ubuntu Mono', monospace;}

body {background-color: yellow;}

textarea {
    width: 400px;
    height: 200px;}