body, h1, h2, h3, h4, h5, h6, form {
    font-family: 'Ubuntu Mono', monospace;
}


a:hover, .illuminating {
    background-color:#F5DF4D;
    font-size: larger;
}

img {
    float: right;
}

code {
    font-family: monospace;
    font-size: small;
    background-color: rgb(232, 232, 232);
}