body, h1, h2, h3, h4, h5, h6, form {
    font-family: 'Ubuntu Mono', monospace;
}


a:hover, .illuminating {
    background-color:#F5DF4D;
    font-size: larger;
}

img {
    float: left;
}

code {
    font-family: monospace;
    font-size: small;
    background-color: rgb(232, 232, 232);
}

.content{
    width: 50%;
    height: 300px;
    padding: 6px 6px;
    box-sizing: border-box;
    resize: none;
  }

.title{
    width: 50%;
    height: 40px;
    padding: 6px 6px;
    box-sizing: border-box;
    resize: none;
  }