{% extends 'base.html' %}
{% set active_page = "/" %}


{% block body %}
<div class="w3-container">
    <img src="{{url_for('static',filename='fatau-modified.png')}}" class="w3-image w3-round" style="width:100%; max-width: 160px; height: 100%;">
    <h4>
        Hello.
        My name is Tibi.
    </h4>
    <p>
        I'm a developer / data scientist located in Bucharest, Romania.<br>
        I'm passionate about programming but I guess you already figured that out from the Ubuntu font I'm using... 😁<br>
        I'm also the proud dad to my daughter who is now → {{ date }} old.
    </p>
</div>
<div class="w3-container">   
    <hr></hr>
    <p>
        <u>My developer journey</u><br><br>
        <b>>>></b> Having studied programming only at a very basic level in highschool, I can't say that computer science got me hooked from day 1... However,
        in 2016, I started working a 9 to 5 office job and quickly came to the realisation that most of what I was doing could be automated. I dived into coding and I fell in love instantly.<br>
        Currently I'm on a quest of learning as much as possible about <b>web development</b>. In fact, this entire website is me learning 🤪 crazy, right?
        <br><br>
        <b>>>></b> I'm currently working as a data scientist focusing primarily on the field of Natural Language Processing. Despite this fancy title, 
        most of what I'm doing is building data collection and text classification algorithms, nicely wrapping them up in python scripts and deploying them on Windows or Linux platforms.
        <br><br>
        <b>>>></b> Feel free to check out some of my <a href="{{url_for('projects')}}">projects</a> or take a look at my <a href="{{url_for('resume')}}">resume</a>.
         
    </p>
    <hr></hr>
    <p>
        <u>On a personal level</u><br><br>
        <b>>>></b> Whenever I have some time available I like to read, mostly programming and tech related articles, 
        as well as world news and opinion articles about local politics. <br>Sometimes I also <a href="{{url_for('recipes')}}">write stuff</a> myself.<br><br>  
        <b>>>></b> I'm also a very low-level and rather untalented amateur <a href="{{url_for('music')}}">self-taught musician</a> that likes to experiment with different genres.<br>
        I like synths, effects pedals and all types of vintage gear. I also have a small record collection which I cherish 💿
        <br><br>
        <b>>>></b> I'm a fan of thrillers, The Office and coding puzzles<br><br>
    </p>
  </div>
{% endblock %}