{% extends 'base.html' %}
{% set active_page = "/projects" %}

{% block body %}

{% set categories = [
    'web-development',
    'small-software',
    'web-scrapers',
    'short-and-sweet',
] -%}

{% for category in categories %}
    <div class="w3-content illuminating w3-center">
       <h2> {{ category.replace('-',' ')}} </h2>
    </div>
    {% for link in projects %}
        {% if category in link[1] %}
            <div class="w3-content">
                <div class="w3-card-2 w3-mobile">
                    <div class="w3-container w3-border">
                        <h4><b>{{ link[0].replace('-',' ') }}</b></h4>
                    </div>
                    <!----------------------->
                    <div class="w3-container">
                        <p>{{ link[2] }}</p>
                    </div>
                    <a style="font-size:16px" class="w3-btn" href="https://github.com/tibipin/{{link[0]}}">👾 see code</a>
                </div>          
            </div>
            <br>
        {% endif %}
    {% endfor %}
    <hr>
{% endfor %}
{% endblock %}