{% extends 'base.html' %}
{% set active_page = "/projects" %}

{% block body %}

{% set categories = [
    'web-development',
    'small-software',
    'web-scrapers',
    'short-and-sweet',
] -%}

{% for category in categories %}
    <div class="w3-content w3-center illuminating">
            <h2> {{ category.replace('-',' ') }} ⬇</h2>
    </div>
    {% for link in projects %}
        {% if category in link[1] %}
            <div class="w3-content">
                <div class="w3-card-2 w3-mobile w3-border">
                    <div class="w3-container w3-border">
                        <h4><b>{{ link[0].replace('-',' ') }}</b></h4>
                    </div>
                    <!----------------------->
                    <div class="w3-container">
                        <p>{{ link[2] }}</p>
                    </div>
                    <p class="w3-center"><a style="font-size:16px" class="w3-btn" href="https://github.com/tibipin/{{ link[0] }}">👾 see code</a></p>
                </div>
                <br>          
            </div>
        {% endif %}
    {% endfor %}
    <br>
    <hr>
{% endfor %}
{% endblock %}