<!DOCTYPE html>
<html lang="en">
    <head>

        
        <!-- Primary Meta Tags -->
        <title>Tibi Pin</title>
        <meta name="title" content="Tibi Pin">
        <meta name="description" content="I'm a developer / data scientist located in Bucharest, Romania.">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://tibipin.me/">
        <meta property="og:title" content="Tibi Pin">
        <meta property="og:description" content="I'm a developer / data scientist located in Bucharest, Romania.">
        <meta property="og:image" content="{{ url_for('static',filename='123119001_1354100064921561_7221932945335655905_n_18107476489169719.jpg') }}">
        
        <!-- Style -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        
        <!--This is the navigation bar-->
        {% set navigation_bar = [
            ('/', url_for('home'), 'about_me 👨🏻‍💻'),
            ('/recipes', url_for('recipes'), 'recipes 🍜'),
            ('/projects', url_for('projects'), 'projects 💾'),
            ('/music', url_for('music'), 'music 📼'),
            ('/cv', url_for('resume'), 'résumé 📄')
        ] -%}
        <div class="w3-row w3-top">
            <div class="w3-bar w3-border w3-light-grey">
                {% for id, href, caption in navigation_bar %}
                    <a href={{href}} 
                    {% if id == active_page %} 
                        class="w3-bar-item w3-button w3-border-right illuminating"
                    {% else %}
                        class="w3-bar-item w3-button w3-border-right"
                    {% endif %}>{{caption}}</a>
                {% endfor %}
            </div>
        </div>
        <!------------------------------> 
        <div class="w3-row w3-padding-large">
            <br><br><br>
        </div>
        <!--This is the body section-->
        <div class="w3-row w3-mobile">
            {% block body %}
            {% endblock %}
        </div>
        <!----------------------------> 
    
    </body>
</html>